
*{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0.12rem;
}
img{
	display: block;
}
input{
	border: 0;
	display: block;
    outline: none;
}
a{	color:#000;
	text-decoration: none;
}
a:hover{
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}
.top{
	width: 100%;
	height: 1.06rem;
	padding-top: 0.34rem;
	border-bottom: 1px solid #d6d6d6;
}
input{
	width: 6.84rem;
	height: 0.63rem;
	background: #ededed;
	margin:0 auto ;
	border-radius: 0.1rem;
	outline: none;
}
input::-webkit-input-placeholder{
	text-align: center;
	font-size: 0.3rem;
}
.logo {
    position: absolute;
    left: 1.45rem;
    top: 0.45rem;
    width: 0.42rem;
    height: 0.42rem;
}

.logo img {
    display: block;
    width: 100%;
    height: 100%;
}
/* 左侧 */
.left {
    width: 1.7rem;
    height: 12.7rem;
    background:#fff;
    float: left;
    overflow: hidden;
    margin-bottom: 1rem;

}
.left a {
    display: block;
    margin-top: 0.4rem;
    width: 100%;
    height: 0.5rem;
    font-size: 0.28rem;
    line-height: 0.5rem;
    text-align: center;
    color: #363636;
    box-sizing: border-box;
}
.left a:first-child {
    color: #B4292F;
    border-left: 0.09rem solid #B4292F;
}
.left a:hover {
    color: #B4292F;
    border-left: 0.09rem solid #B4292F;
}
.right{
    width: 5.7rem;
    height: 12.7rem;
    background-color: #fff;
    float: left;
    border-left: 1px solid #d6d6d6;
    overflow: hidden;
    padding: 0 0.3rem 0 0rem;
    box-sizing: border-box;
    position:absolute;
    right: 0;
    top: 1.42rem;
    display: none;
}
.hot{
    display: block;
}
.banner { 
    margin: 0.46rem 0.46rem 0;
    width: 5rem;
    height: 2rem;
}

.banner img {
    display: block;
    width: 100%;
    height: 100%;
}
.bantwz {
    width: 5rem;
    height: 1.2rem;
    margin: 0 0.35rem;
    font-size: 0.3rem;
    text-align: center;
    line-height: 1.2rem;
    color: #363636;
}

.bantwz span {
    color: #D9D9D9;
}

.pirwz {
    width: 5.35rem;
    height: 9rem;
    padding: 0 0 0 0.35rem;
}
.pirwz a{
	display: block;
	width: 33%;
    height: 2rem;
    float: left;
}
.pirwzbox {
    float: left;
    width:100%;
    height: 2rem;
}

.boximg1 {
    width: 1.75rem;
    height: 1rem;
}

.boximg1 img {
    display: block;
    width: 100%;
    height: 100%;
}

.boxwz1 {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.27rem;
    color: #363636;
}
/* footer开始 */
.foot{
	width: 100%;
	height: 0.85rem;
	position: fixed;
	bottom: 0;
	left: 0;
	padding-top: 0.2rem;
	background: #fff;
}
.foot .foot1{
	float: left;
	display: block;
	width:1.5rem;
	height:1.05rem;
	text-align: center;
	font-size: 0.26rem;
	color: #656565;
}
.foot1 .iconfont{
	font-size: 0.35rem;
	font-weight: 600;
}
.foot1:hover{
	color: #aa0a0b;
}
/* footer结束 */

